<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.18.5/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!-- HTML -->
    <div id="q-app">
      <q-layout view="lhh LpR lff">
        <q-header class="q-pa-md">
          <q-banner class="bg-primary text-white">
            <span class="text-h4">Graphiks</span>
            <template v-slot:avatar>
              <q-icon name="category" color="white"></q-icon>
            </template>
            <template v-slot:action>
              <q-btn color="white" label="Gallery"
                :flat="page !== 'gallery'"
                :outline="page === 'gallery'"
                @click="page = 'gallery'"
              ></q-btn>
              <q-btn color="white" label="Editor"
                :flat="page !== 'editor'"
                :outline="page === 'editor'"
                @click="page = 'editor'"
              ></q-btn>
            </template>
          </q-banner>
        </q-header>
        <q-page-container>
          <q-page padding>
            <gallery v-if="page === 'gallery'"></gallery>
            <editor v-if="page === 'editor'"></editor>
          </q-page>
        </q-page-container>
      </q-layout>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.18.5/dist/quasar.umd.prod.js"></script>
    <script type="module">
      import Gallery from './components/gallery.js'
      import Editor from './components/editor.js'
      const app = Vue.createApp({
        components: {
          Gallery,
          Editor
        },
        setup () {
          const { ref } = Vue
          const page = ref('gallery')
          return {
            page
          }
        }
      })
      app.use(Quasar)
      app.mount('#q-app')
    </script>
  </body>
</html>